absl-py==0.7.1
asn1crypto==0.24.0
astor==0.8.0
backcall==0.2.0
cryptography==2.1.4
decorator==5.1.1
gast==0.2.2
google-pasta==0.1.7
grpcio==1.21.1
h5py==2.9.0
idna==2.6
importlib-resources==5.4.0
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.17.2
joblib==1.1.0
Keras==2.2.4
Keras-Applications==1.0.8
keras-bert==0.89.0
keras-embed-sim==0.10.0
keras-layer-normalization==0.16.0
keras-multi-head==0.29.0
keras-pos-embd==0.13.0
keras-position-wise-feed-forward==0.8.0
Keras-Preprocessing==1.1.0
keras-self-attention==0.51.0
keras-transformer==0.40.0
keyring==10.6.0
keyrings.alt==3.0
Markdown==3.1.1
numpy==1.16.4
pandas==1.1.5
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.29
protobuf==3.8.0
ptyprocess==0.7.0
pycrypto==2.6.1
Pygments==2.12.0
pygobject==3.26.1
python-apt==1.6.4
python-dateutil==2.8.2
pytz==2022.1
pyxdg==0.25
PyYAML==6.0
scikit-learn==0.24.2
scipy==1.5.4
SecretStorage==2.3.1
six==1.11.0
sklearn==0.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
threadpoolctl==3.1.0
tqdm==4.64.0
traitlets==4.3.3
wcwidth==0.2.5
Werkzeug==0.15.4
wrapt==1.11.2
zipp==3.6.0
